body{
    color: black;
    font-family: 'Open Sans', sans-serif;
   
}
h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    width: 351px;
}

/* Navigation bar */
.nav-container{
    background: rgba(255, 255, 255, 0.8);
}
.navbar{
    margin: auto;
    padding: 0;
}
.navbar-brand{
    margin-left: 117px;
    font-family: Lato;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: justify;
    color: black;
}
#weave{
    color: #085e5e;
}
.nav--item{
    padding: 30px 20px;
}
.nav-link{
    font-family: Lato;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: black;
}
.wrapper{    
    
    margin: 0 auto;
    width: 1440px;
}

#header{
    background: url(images/Rectangle\ 45.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 656px;
}
#crown{
    color: #085e5e;
}
.header-content{
    margin-left: 117px;
    
}
.header-content a{
    color: #f6f6f6;
    background: #085E5E;
    border-radius: 5px;    
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding: 11px 25px;
    text-decoration: none;
}





/* Schedule */
.schedule-container{
    margin: 103px 300px 84px;
    background: #FFFFFF;
    border: 2px solid #0CBABA;
    box-sizing: border-box;
    border-radius: 5px;
}
.schedule{
    width: 499px;
    padding: 0;
}
.schedule h2{
    padding-top: 11px;
    padding-left: 91px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 44px;
}
.schedule h3{
    padding-left: 94px;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
}
.schedule h4{
    padding-left: 94px;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
}
.schedule p{
    padding-left: 91px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.schedule a{
    padding-left: 91px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: black;
}
.pricing{
    width: 341px;
    background-color: #031926;
    padding: 0;
}
.pricing h2{
    padding: 11px 107px 12px;
    padding-top: 11px;
    padding-left: 107px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 44px;
    color: #F6F6F6;
}
.pricing h3{
    padding-left: 120px;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #F6F6F6;
}
.pricing h4{
    padding-left: 120px;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #F6F6F6;
}


/* Why Our Clients Choose Us */
#why-us h2{
    padding-top: 84px;
    padding-bottom: 72px;
    text-align: center;
    font-family: Open Sans;
    font-size: 32px;
    line-height: 44px;
}
#clients{
    color: #FD90B0;
}

.why-us-container{
    margin-left: 120px;
    margin-right: 118px;
}
.why-us-content{
    padding: 0;
    width: 687px;
}

.read-more{
    text-align: center;
}
.read-more a{
    background: #085E5E;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 11px 20px;
}

#para-1{
    padding-top: 132px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    width: 655px;
}
#para-2{
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
}
.why-us-image{
    width: 547px;
}

/* Our Services */
#our-services h2{
    text-align: center;
    text-decoration: underline;
    background: #031926;
    font-family: 'Red Hat Display';
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #f6F6F6;
    margin-top: 84px;
    margin-bottom: 54px;
    padding-top: 15px;
    padding-bottom: 29px;

}
#service{
    color: #FD90B0;
}
.ser{
    font-size: 25px;
    line-height: 34px;
    text-align: center;
}
.services{
    margin: 40px auto 67px auto;
    text-align: center;
}
.services h3{
    font-size: 25px;
    line-height: 34px;
}
.services p{
    font-size: 1.125rem;
    line-height: 25px;
    width: 305px;
}
.left-box{
    border-right: 3px solid #FD90B0;
}
.viewmore{
    text-align: center;
}
.viewmore a{    
    background: #085E5E;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 11px 20px;
}










































































/* Footer */
.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
