body {
  color: black;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}


/* Reusable Components */
.viewmore {
  text-align: center;
}

.viewmore a {
  background: #085e5e;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 20px;
}

/* Navigation bar */
.nav-container {
  background: rgba(255, 255, 255, 0.8);
  mix-blend-mode: normal;
  height: 88px;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: justify;
  color: black;
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
}

#weave {
  color: #085e5e;
}

.nav-ul-container {
  padding-top: 35px;
  padding-bottom: 34px;
  margin: 0;
  width: 469px;
}

.navbar-nav {
  /* height: 19px;   */
  text-align: justify;
}

.nav-item {
  margin-right: 40px;
  padding: 0;
}

.nav-item li:nth-last-of-type(1) {
  margin: 0;
}

.nav-link {
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: black;
  padding: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

.wrapper {
  width: 1231px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 92px;
}

#header {
  background: url(images/background.svg);
  background-repeat: no-repeat;
  background-position: 0
  px;
  height: 660px;
}


/* Header */
#crown {
  color: #085e5e;
}

.header-content {
  padding: 49px 92px 0 0;

}

.header-content h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  width: 351px;
  margin: 0;
  padding-bottom: 68px;
}

.header-see-more {
  padding-left: 84px;
}

.header-content a {
  color: #f6f6f6;
  background: #085e5e;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  padding: 11px 25px;
  text-decoration: none;
}

/* Schedule */
#schedule {
  padding: 103px 300px 84px;
}

.schedule-container {
  background: #ffffff;
  border: 2px solid #0cbaba;
  box-sizing: border-box;
  border-radius: 5px;
}

.schedule {
  width: 499px;
  padding: 11px 0 26px 0;
}

.schedule h2 {
  padding-left: 91px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  margin: 0;
}

.schedule h3 {
  padding-left: 94px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}

.schedule h4 {
  padding-left: 94px;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}

.schedule p {
  padding-left: 91px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 23px;
  margin: 0;
}

.schedule a {
  padding-left: 91px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: black;
}

.pricing {
  width: 341px;
  background-color: #031926;
  padding: 11px 0 55px 0;
}

.pricing h2 {
  padding-left: 107px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  color: #f6f6f6;
  margin: 0;
}

.pricing h3 {
  padding-left: 120px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #f6f6f6;
}

.pricing h4 {
  padding-left: 120px;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  color: #f6f6f6;
}

/* Why Our Clients Choose Us */
#why-us {
  padding: 0 118px 84px 120px;
  margin: 0;
}

#why-us h2 {
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 72px;
}

#clients {
  color: #fd90b0;
}

.read-more {
  text-align: center;
}

.read-more a {
  background: #085e5e;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 20px;
}

#para-1 {
  padding-top: 132px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: left;
}

#para-2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
}

.why-us-image {
  width: 547px;
}


/* Our Services */
#our-services {
  text-align: center;
}

.our-service-header {
  background: #031926;
  border-radius: 5px;
  padding-top: 14.5px;
  padding-bottom: 28.5px;
}

#our-services h2 {
  text-decoration: underline;
  background: #031926;
  font-family: "Red Hat Display";
  font-weight: bold;
  font-size: 2rem;
  line-height: 42px;
  color: #f6f6f6;
  margin: 0;
}

#service {
  color: #fd90b0;
}

.ser {
  font-size: 25px;
  line-height: 34px;
  text-align: center;
}

.our-service-content {
  padding: 54px 154px 60px 154px;
}

.services {
  padding: 40px auto 67px auto;
  margin-bottom: 67px;
}

.services h3 {
  font-size: 25px;
  line-height: 34px;
}

.services p {
  font-size: 1.125rem;
  line-height: 25px;
  text-align: left;
  padding-left: 105px;
  padding-right: 70px;
}

.left-box {
  border-right: 3px solid #fd90b0;
}

.our-service-viewmore {
  text-align: center;
}

.our-service-viewmore a {
  background: #085e5e;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 20px;
}


/* Our products */
#our-products {
  text-align: center;
}

.our-products-container h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  padding-bottom: 53px;
  margin: 0;
}

#product {
  color: #fd90b0;
}

.our-products-container p {
  font-size: 24px;
  line-height: 33px;
  width: 60%;
  margin: 0 auto;
}

.carousel-box {
  padding-left: 107px;
  padding-right: 107px;
}

.product-carousel-item {
  padding-top: 57px;
  padding-bottom: 94px;
}

.product-carousel-container {
  margin: 0;
  padding: 0;
}

.product-info {
  text-align: center;
  padding: 0;
}

.product-image {
  /* width: 319px; */
}

.add-to-cart-btn {
  background: #085e5e;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 20px;
  text-decoration: 0;
}

/* Our Professionals */
#pro-team {
  padding: 0 120px 68px;
  text-align: center;
  margin: 0;
}

#pro-team h2 {
  font-family: "Red Hat Display";
  font-weight: bold;
  font-size: 2rem;
  line-height: 42px;
  text-align: center;
  text-decoration: underline black;
  margin: 0 auto;
}

#pro {
  color: #fd90b0;
}

.professionals {
  margin-bottom: 0;
  font-size: 25px;
  line-height: 34px;
  margin: 0;
  padding: 84px 50px 81px 50px;
}

.team-image {
  padding: 0;
  text-align: center;
  margin: 0;
}

.team-image-mid {
  margin: 0 16px 0 16px;
}

.team-image img {
  width: 100%;
  margin-bottom: 13px;
}

.team-image h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}

.team-image p {
  font-size: 18px;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 68px;
}

.view-all {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  padding: 11px 29px;
  color: #fff;
  background-color: #085e5e;
  border-radius: 5px;
}




/* Our Portfolio */
#our-portfolio {
  padding: 0 117px 54px 120px;
  text-align: center;
}

#our-portfolio h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  text-decoration: underline black;
  padding-bottom: 74px;
  margin: 0 auto;
}

#portfolio {
  color: #fd90b0;
}

#our-portfolio p {
  font-size: 25px;
  line-height: 34px;
  width: 60%;
  padding-bottom: 62px;
  margin: 0 auto;
}

.portfolio-image {
  padding-left: 0;
  padding-right: 13px;
}

.portfolio-img {
  padding-top: 12px;
}

.port {
  margin-bottom: 94px;
}

/* Testimonials */

.testimonial-header {
  padding-top: 10.5px;
  padding-bottom: 30.5px;
  background: #031926;
}

#our-testimonials h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  text-decoration: underline #fff;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  text-align: center;
}

#testimonial {
  color: #fd90b0;
}

#our-testimonials p {
  text-align: center;
  padding-top: 67px;
  padding-bottom: 79px;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  line-height: 34px;
}

.testimonial-carousel-item {
  padding: 0 120px 0 121px;
}

.test-box {
  
}

.test-text {
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid #fd90b0;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
}

.test-text h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.test-text p {
  /* padding: 22px 114px 64px 114px; */
  font-size: 12px;
  line-height: 25px;
}

.testimonial-image {
  position: relative;
  bottom: 50px;
  left: 20px;
}


/* Footer */
.footer-bs {
  background-color: #031926;
  padding: 66px 140px 68px 146px;
  color: #F6F6F6;
}

.top-footer{
  padding-bottom: 119px;
}
.top-footer h4{
  margin: 0;
  padding-bottom: 22px;
}

.footer-bs p{
  font-size: 18px;
  line-height: 22px;
  color: #F6F6F6;  
  margin: 0;
}

.footer-bs .top-footer p{
  width: 60%;
}
.input-group button{
  padding-left: 7px;
}

#subcribe{
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 6px 39px 9px 33px;
  background: #085E5E;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer-bs ul{
  list-style: none;
  padding: 0px;
}

.footer-bs ul li {
  padding: 15px 0px;
}

.footer-bs ul a {
  font-size: 18px;
  line-height: 22px;
  color: #F6F6F6;
}

.footer-bs ul a:hover {
  color: #F6F6F6;
  text-decoration: none;
}

.footer-bs h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F6F6F6;
}

.footer-bs ul.list {
  list-style: none;
  padding: 0px;
}




@media (max-width: 760px) {
  
}
