body {
  color: black;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  width: 351px;
}

/* Reusable Components */
.viewmore {
  text-align: center;
}

.viewmore a {
  background: #085e5e;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 20px;
}

/* Navigation bar */
.nav-container {
  background: rgba(255, 255, 255, 0.8);
}

.navbar {
  margin: auto;
  padding: 0;
}

.navbar-brand {
  font-family: Lato;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: justify;
  color: black;
  padding-top: 27px;
  padding-bottom: 25px;
}

#weave {
  color: #085e5e;
}

.nav-item {
  padding-top: 27px;
  padding-bottom: 26px;
  padding-right: 12px;
}

.nav-link {
  font-family: Lato;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: black;
}

.wrapper {
  margin: 0;
  padding-left: 117px;
  padding-right: 92px;
}

#header {
  background: url(images/header-img.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 656px;
  /* width: 1200px; */
}

#crown {
  color: #085e5e;
}

.header-content {
  padding: 0 92px 0 117px;
}

.header-content a {
  color: #f6f6f6;
  background: #085e5e;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  padding: 11px 25px;
  text-decoration: none;
}

/* Schedule */
#schedule {
  padding: 103px 300px 84px;
}

.schedule-container {
  background: #ffffff;
  border: 2px solid #0cbaba;
  box-sizing: border-box;
  border-radius: 5px;
}

.schedule {
  width: 499px;
  padding: 0;
}

.schedule h2 {
  padding-top: 11px;
  padding-left: 91px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
}

.schedule h3 {
  padding-left: 94px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}

.schedule h4 {
  padding-left: 94px;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}

.schedule p {
  padding-left: 91px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.schedule a {
  padding-left: 91px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: black;
}

.pricing {
  width: 341px;
  background-color: #031926;
  padding: 0;
}

.pricing h2 {
  padding: 11px 107px 12px;
  padding-top: 11px;
  padding-left: 107px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  color: #f6f6f6;
}

.pricing h3 {
  padding-left: 120px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #f6f6f6;
}

.pricing h4 {
  padding-left: 120px;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  color: #f6f6f6;
}

/* Why Our Clients Choose Us */
#why-us {
  padding: 84px 118px 72px 120px;
  margin: 0;
}

#why-us h2 {
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 72px;
}

#clients {
  color: #fd90b0;
}

.why-us-container {
}

.why-us-content {
}

.read-more {
  text-align: center;
}

.read-more a {
  background: #085e5e;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 20px;
}

#para-1 {
  padding-top: 132px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: left;
}

#para-2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
}

.why-us-image {
  width: 547px;
}

/* Our Services */
#our-services {
  text-align: center;
}

.our-service-header {
  background: #031926;
  border-radius: 5px;
  padding-top: 14.5px;
  padding-bottom: 28.5px;
}

#our-services h2 {
  text-decoration: underline;
  background: #031926;
  font-family: "Red Hat Display";
  font-weight: bold;
  font-size: 2rem;
  line-height: 42px;
  color: #f6f6f6;
  margin: 0;
}

#service {
  color: #fd90b0;
}

.ser {
  font-size: 25px;
  line-height: 34px;
  text-align: center;
}

.our-service-content {
  padding: 54px 154px 60px 154px;
}

.services {
  padding: 40px auto 67px auto;
  margin-bottom: 67px;
}

.services h3 {
  font-size: 25px;
  line-height: 34px;
}

.services p {
  font-size: 1.125rem;
  line-height: 25px;
  text-align: left;
  padding-left: 105px;
  padding-right: 70px;
}

.left-box {
  border-right: 3px solid #fd90b0;
}

.our-service-viewmore {
  text-align: center;
}

.our-service-viewmore a {
  background: #085e5e;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 20px;
}

/* Our products */
#our-products {
  text-align: center;
}

.our-products-container h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  padding-bottom: 53px;
  margin: 0;
}

#product {
  color: #fd90b0;
}

.our-products-container p {
  font-size: 24px;
  line-height: 33px;
  width: 60%;
  margin: 0 auto;
}

.carousel-box {
  padding-left: 107px;
  padding-right: 107px;
}

.product-carousel-item {
  padding-top: 57px;
  padding-bottom: 94px;
}

.product-carousel-container {
  margin: 0;
  padding: 0;
}

.product-info {
  text-align: center;
  padding: 0;
}

.product-image {
  /* width: 319px; */
}

.add-to-cart-btn {
  background: #085e5e;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 20px;
  text-decoration: 0;
}

/* Our Professionals */
#pro-team {
  padding: 0 120px 68px;
  text-align: center;
  margin: 0;
}

#pro-team h2 {
  font-family: "Red Hat Display";
  font-weight: bold;
  font-size: 2rem;
  line-height: 42px;
  text-align: center;
  text-decoration: underline black;
  margin: 0 auto;
}

#pro {
  color: #fd90b0;
}

.professionals {
  margin-bottom: 0;
  font-size: 25px;
  line-height: 34px;
  margin: 0;
  padding: 84px 50px 81px 50px;
}

.team-image {
  padding: 0;
  text-align: center;
  margin: 0;
}

.team-image-mid {
  margin: 0 16px 0 16px;
}

.team-image img {
  width: 100%;
  margin-bottom: 13px;
}

.team-image h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}
.team-image p {
  font-size: 18px;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 68px;
}
.view-all {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  padding: 11px 29px;
  color: #fff;
  background-color: #085e5e;
  border-radius: 5px;
}




/* Our Portfolio */
#our-portfolio {
  padding: 0 117px 54px 120px;
  text-align: center;
}

#our-portfolio h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  text-decoration: underline black;
  padding-bottom: 74px;
  margin: 0 auto;
}

#portfolio {
  color: #fd90b0;
}

#our-portfolio p {
  font-size: 25px;
  line-height: 34px;
  width: 60%;
  padding-bottom: 62px;
  margin: 0 auto;
}

.portfolio-image {
  padding-left: 0;
  padding-right: 13px;
}

.portfolio-img {
  padding-top: 12px;
}

.port {
  margin-bottom: 94px;
}

/* Testimonials */

.testimonial-header {
  padding-top: 10.5px;
  padding-bottom: 30.5px;
  background: #031926;
}

#our-testimonials h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  text-decoration: underline #fff;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  text-align: center;
}

#testimonial {
  color: #fd90b0;
}

#our-testimonials p {
  text-align: center;
  padding-top: 67px;
  padding-bottom: 79px;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  line-height: 34px;
}

.testimonial-carousel-item{
  padding: 0 120px 0 120px;
}
.test-box{
  padding: ;
}

.test-text {
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid #fd90b0;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
}

.test-text h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.test-text p {
  /* padding: 22px 114px 64px 114px; */
  font-size: 12px;
  line-height: 25px;
}

.testimonial-image {
  position: relative;
  bottom: 50px;
  left: 20px;
}

/* .carousel-control-prev {
  background: blue;
}

.carousel-control-next {
  background: blue;
} */

/* Footer */
.footer-bs {
  background-color: #031926;
  padding: 60px 40px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}

.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8);
}

.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-bs .footer-social li {
  padding: 5px 4px;
}

.footer-bs .footer-social a {
  color: rgba(255, 255, 255, 1);
}

.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
}

.footer-wrapper {
  padding-left: 146px;
  padding-right: 140px;
}
